body
{
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#menu
{
	font-family: sans-serif;
	font-size: 150%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	grid-gap:35px;
	color: white;
	cursor: pointer;
	transition: 0.25s;
	padding-top: 5px;
}

a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: 0.25s;
}

.liens:hover
{
	padding-left: 5px;
	color: #55a630;
}

.image
{
	display: flex;
	justify-content: center;
	margin-top: 300px;
	transition: 0.50s;
}

p
{
	display: flex;
	justify-content: center;
	font-family: Arial;
	font-size: 180%;
	margin-top: 65px;
	color: white;
}

#discord
{
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 20px;
}