body
{
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#menu
{
	font-family: sans-serif;
	font-size: 150%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	grid-gap:35px;
	color: white;
	cursor: pointer;
	transition: 0.25s;
	margin-top: 1%;
}

a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: 0.25s;
}

.liens:hover
{
	padding-left: 5px;
	color: #55a630;
}

.image
{
	position: absolute;
	top: 30%;
	left: 32%;
	transition: 0.50s;
}

.image img
{
-webkit-transition: all 0s ease;
-moz-transition: all 0s ease;
}

.image:hover
{
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
transform: scale(1.25);
}

.home-content
{
	display: flex;
	justify-content: center;
	font-family: Arial;
	font-size: 180%;
	margin-top: -125px;
	color: white;
}

#discord
{
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 500px;
}

@media screen ad (max-width: 900px){
	.body{
		width: 500px;
	}
}