body
{
	background-image: url(../img/background.png);
	width: max-content;
}

#logo
{
	position: absolute;
	top: 40%;
	left: 45%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

#Accueil
{
	font-family: sans-serif;
	font-size: 110%;
	position: relative;
	top: -70px; left: 47px;
}

a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: 0.25s;
}

#Wiki
{
	font-family: sans-serif;
	font-size: 110%;
	position: relative;
	top: -90px; left: 160px;
}

a:hover
{
	padding-left: 5px;
	color: #55a630;
}

#CarteDynamique
{
	font-family: sans-serif;
	font-size: 110%;
	position: relative;
	top: -110px; left: 250px;
}

#Discord
{
	font-family: sans-serif;
	font-size: 110%;
	position: relative;
	top: -130px; left: 450px;
}

.zoom
{
	width: 150px;
	height: 100px;
}
.image
{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: 0.50s;
}
.image img
{
-webkit-transition: all 0s ease;
-moz-transition: all 0s ease;
}
.image:hover
{
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
transform: scale(1.25);
}

#playfr
{
	font-family: sans-serif;
	font-size: 120%;
	position: relative;
	top: -153px; left: 1670px;
	color: white;
	cursor: pointer;
}

p
{
	font-family: Arial;
	font-size: 150%;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}

