body
{
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#menu
{
	font-family: sans-serif;
	font-size: 125%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	grid-gap:35px;
	color: white;
	cursor: pointer;
	transition: 0.25s;
}

a
{
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: 0.25s;
}

.liens:hover
{
	padding-left: 5px;
	color: #55a630;
}

.image
{
	position: absolute;
	top: 30%;
	left: 33%;
	transition: 0.50s;
}

.image img
{
-webkit-transition: all 0s ease;
-moz-transition: all 0s ease;
}

.image:hover
{
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
transform: scale(1.25);
}

p
{
	display: flex;
	justify-content: center;
	font-family: Arial;
	font-size: 150%;
	padding-top: 320px;
	color: white;
}

#discord
{
	position: absolute;
	top: 55%;
	left: 48%
}