body {
	background: url(../img/background.png) no-repeat center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}


/* Navbar and links. */

#navbar {
	font-family: sans-serif;
	font-size: 28px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	grid-gap:35px;
	cursor: pointer;
	transition: 0.25s;
	/* padding-top: 0px; */
	list-style: none;
}

.liens:hover {
	padding-left: 5px;
	color: #55a630;
}


/* Texts style. */

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: 0.25s;
}

p {
	display: flex;
	justify-content: center;
	font-family: Arial;
	font-size: 28px;
	margin-top: 20px;
	color: white;
}


/* Logo style. */

.image {
	display: flex;
	justify-content: center;
	margin-top: 300px;
	transition: 0.50s;
}

#discord {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 40px;
}


/* Responsive */

@media screen {
	body{
		width: 100%;
	}
}
